.wallpaper {
  background-image: url("https://data.whicdn.com/images/250455903/large.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100vh;
}

.chatComponent {
  height: 85vh;
}
.sendIcon {
  display: inline;
}

.new-message {
  width: 60%;
}
