.chatApp {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBox {
  height: 400px;
  border: 1px solid black;
  width: 500px;
  padding: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}
.chatMessage {
  position: absolute;
  bottom: 0;
}
.messages {
  list-style-type: none;
}
